@import "tailwindcss";
@import "./typography.css";
@import "./alert.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #2e00d2;
  --muted: #d3d3d3;
  --border: #1a0079;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #4c546c;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-kaiti: 'SimKai', 'KaiTi SC', 'KaiTi', 'STKaiti', serif;
  --font-song: 'Georgia', 'SimSun', 'Songti SC', 'Songti', 'STSong', serif;
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
kbd {
  @apply inline-block items-center mr-1 text-foreground font-mono border rounded-md leading-4;
  @apply bg-white border-gray-300 shadow-[2px_2px_0px_0px_rgb(209,213,220)];
  @apply dark:bg-black dark:border-gray-600 dark:shadow-[2px_2px_0px_0px_rgb(74,85,101)];
  @apply hover:relative hover:top-0.5 hover:left-0.5;
}
