@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #007bc2;
  --muted: #d3d3d3;
  --border: #004167;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #455278bf;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }

  html {
    @apply overflow-y-scroll scroll-smooth;
  }

  body {
    @apply flex min-h-svh flex-col bg-background font-serif text-foreground selection:bg-accent/75 selection:text-background;
  }

  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  section,
  footer {
    @apply mx-auto max-w-4xl px-4;
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

kbd {
  @apply inline-block items-center mr-1 text-foreground font-mono border rounded-md;
  @apply bg-white border-gray-200 shadow-[2px_2px_0px_0px_rgba(0,0,0,0.08)];
  @apply dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-[2px_2px_0px_0px_rgba(255,255,255,0.1)];
  @apply hover:relative hover:top-0.5 hover:left-0.5;
}